@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap);

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/
body {
    height: 100%;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #252b42;
    padding-top: 15px;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    height: 100%;
}

.heading {
    display: flex;
    justify-content: space-between;
    /* height: 100%; */
    margin-bottom: 20px;
}

.title {
    color: #776e65;
    font-weight: 700;
    font-size: 80px;
    line-height: 66px;
}

.score-container,
.best-container {
    position: relative;
    display: inline-block;
    background: #bbada0;
    padding: 20px 25px;
    font-size: 25px;
    height: 59px;
    line-height: 47px;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    margin-top: 4px;
    text-align: center;
    min-width: 80px;
}

.score-container:after,
.best-container:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #eee4da;
}

.score-container::after {
    content: 'Score';
}

.best-container:after {
    content: 'Best';
}

#game-board {
    position: relative;
    margin-top: 25px;
    background: #bbada0;
    border-radius: 6px;
    padding: 15px;
    -webkit-touch-callout: none;
    -ms-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    user-select: none;
    touch-action: none;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 106.25px);
    grid-template-rows: repeat(4, 106.25px);
}

.grid-cell {
    border-radius: 3px;
    background: rgba(238, 228, 218, 0.35);
}

.tile {
    --cell-size: 106.25px;
    --cell-gap: 15px;
    /* --x: 1;
    --y: 2; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee4da;
    font-weight: 700;
    font-size: 55px;
    color: #776e65;
    box-shadow: 0 0 30px 10px transparent, inset 0 0 0 1px transparent;
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 3px;
    top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));

    animation: show 200ms ease-in-out;
    transition: 100ms ease-in-out;
}

@keyframes show {
    0% {
        opacity: 0.5;
        transform: scale(0);
    }
}

.tile-merge {
    animation: merge-animation 200ms ease-in-out;
}

@keyframes merge-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.tile.tile-2 {
    background: #eee4da;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
}
.tile.tile-4 {
    background: #ede0c8;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
}
.tile.tile-8 {
    color: #f9f6f2;
    background: #f2b179;
}
.tile.tile-16 {
    color: #f9f6f2;
    background: #f59563;
}
.tile.tile-32 {
    color: #f9f6f2;
    background: #f67c5f;
}
.tile.tile-64 {
    color: #f9f6f2;
    background: #f65e3b;
}
.tile.tile-128 {
    color: #f9f6f2;
    background: #edcf72;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381),
        inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
    font-size: 45px;
}
@media screen and (max-width: 520px) {
    .tile.tile-128 {
        font-size: 25px;
    }
}
.tile.tile-256 {
    color: #f9f6f2;
    background: #edcc61;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746),
        inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
    font-size: 45px;
}
@media screen and (max-width: 520px) {
    .tile.tile-256 {
        font-size: 25px;
    }
}
.tile.tile-512 {
    color: #f9f6f2;
    background: #edc850;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683),
        inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
    font-size: 45px;
}
@media screen and (max-width: 520px) {
    .tile.tile-512 {
        font-size: 25px;
    }
}
.tile.tile-1024 {
    color: #f9f6f2;
    background: #edc53f;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619),
        inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
    font-size: 35px;
}
@media screen and (max-width: 520px) {
    .tile.tile-1024 {
        font-size: 15px;
    }
}
.tile.tile-2048 {
    color: #f9f6f2;
    background: #edc22e;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556),
        inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
    font-size: 35px;
}
@media screen and (max-width: 520px) {
    .tile.tile-2048 {
        font-size: 15px;
    }
}
.tile.tile-super {
    color: #f9f6f2;
    background: #3c3a32;
    font-size: 30px;
}
@media screen and (max-width: 520px) {
    .tile.tile-super {
        font-size: 10px;
    }
}
